<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Home - Brand</title>
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" />
		<link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css" />
		<link rel="stylesheet" href="assets/fonts/ionicons.min.css" />
		<link rel="stylesheet" href="assets/css/Footer-with-social-media-icons-1.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
		/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css"
		/>
		<link rel="stylesheet" href="assets/css/Projects-Horizontal.css" />
	</head>

	<body>
		<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
			<div class="container">
				<a
					class="navbar-brand logo"
					data-bs-hover-animate="pulse"
					href="index.html"
					style="opacity: 1; font-family: 'Advent Pro', sans-serif"
					>BogdanDoncea</a
				><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav">
					<span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="nav navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link active" data-bs-hover-animate="pulse" href="index.html">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-hover-animate="pulse" href="cv.html">Resume</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-hover-animate="pulse" href="hire-me.html">Hire me</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<main class="page lanidng-page">
			<section class="portfolio-block block-intro" style="opacity: 1">
				<div class="container" data-aos="zoom-in">
					<div class="avatar" style="background-image: url('assets/img/avatars/avatar.jpg')"></div>
					<div class="about-me">
						<p>
							Hello! I am&nbsp;<strong>Bogdan Doncea&nbsp;</strong>- enthusiastic developer eager to
							contribute to team success through hard work, attention to detail and excellent
							organizational skills. Motivated to learn, grow and excel in IT industry.<br />
						</p>
						<a class="btn btn-outline-primary" role="button" href="hire-me.html">Hire me</a>
					</div>
				</div>
			</section>
			<section class="portfolio-block photography">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"></a></div>
						<div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"></a></div>
						<div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"></a></div>
					</div>
				</div>
			</section>
			<section class="portfolio-block skills">
				<div class="container" data-aos="slide-up">
					<div class="heading">
						<h2>Special Skills</h2>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="card special-skill-item border-0">
								<div class="card-header bg-transparent border-0">
									<i class="icon ion-ios-star-outline" data-bs-hover-animate="tada"></i>
								</div>
								<div class="card-body">
									<h3 class="card-title">User Friendly</h3>
									<p class="card-text">
										I provide user-friendly applications, easy to use and predict
										functionality.&nbsp;<br />
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card special-skill-item border-0">
								<div class="card-header bg-transparent border-0">
									<i class="icon ion-ios-lightbulb-outline" data-bs-hover-animate="tada"></i>
								</div>
								<div class="card-body">
									<h3 class="card-title">Support</h3>
									<p class="card-text">
										I offer 7/24 support for my clients, as for adding new features or modifying old
										ones
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card special-skill-item border-0">
								<div class="card-header bg-transparent border-0">
									<i class="icon ion-ios-gear-outline" data-bs-hover-animate="tada"></i>
								</div>
								<div class="card-body">
									<h3 class="card-title"><strong>High Maintainability</strong></h3>
									<p class="card-text">
										I provide high maintainable code, including best practices techniques<br />
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="page-footer">
			<div class="container">
				<div class="links">
					<a href="cv.html#education">Education</a><a href="cv.html#projects">Projects</a>
				</div>
				<div class="social-icons">
					<a href="https://www.linkedin.com/in/donceabogdan/"
						><i class="icon ion-social-linkedin"></i></a
					><a href="mailto:donceabogdan97@gmail.com"><i class="icon ion-social-google"></i></a
					><a href="https://www.facebook.com/bogdancstrike/"
						><i class="icon ion-social-facebook"></i
					></a>
				</div>
			</div>
		</footer>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/js/bs-init.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
		<script src="assets/js/theme.js"></script>
	</body>
</html>
